<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head >
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Amaze UI Admin index Examples</title>
    <meta name="description" content="这是一个 index 页面">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" th:href="@{/assets/i/favicon.png}">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" th:href="@{/assets/css/amazeui.min.css}" />
    <link rel="stylesheet" th:href="@{/assets/css/admin.css}">
    <link rel="stylesheet" th:href="@{/assets/css/app.css}">
    <script th:src="@{/assets/js/echarts.min.js}"></script>
</head>

<body data-type="login">

<div class="am-g myapp-login">
    <div class="myapp-login-logo-block  tpl-login-max">
        <div class="myapp-login-logo-text">
            <div class="myapp-login-logo-text">
                信任筹<span> 管理系统</span>

            </div>
        </div>

        <div class="login-font">
            <i>系统</i>  <span> 登录</span>
        </div>
        <div class="am-u-sm-10 login-am-center">
            <form class="am-form" action="/admin/login/login" method="post" th:object="${AdminUser}">
                <fieldset>
                    <div class="am-form-group">
                        <input type="text" class="" name="workNumber" placeholder="请输入工号">
                    </div>
                    <div class="am-form-group">
                        <input type="password" class="" name="pwd" placeholder="输入个密码吧">
                    </div>
                    <div class="am-form-group" th:unless="${error eq null}">
                        <p  class="font-red" th:text="${error}"></p>
                    </div>

                    <p><button type="submit" class="am-btn am-btn-default"  >登录</button>
                </fieldset>
            </form>
            <p></p>
        </div>
    </div>
</div>

<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/amazeui.min.js}"></script>
<script th:src="@{/assets/js/iscroll.js}"></script>
<script th:src="@{/assets/js/app.js}"></script>
</body>

</html>