<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <!-- Quill JS Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue-quill-editor@3.0.4/dist/vue-quill-editor.js"></script>
    <!-- Include stylesheet -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.core.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link href="https://cdn.quilljs.com/1.3.6/quill.bubble.css" rel="stylesheet">
    <link rel="stylesheet" href="/index/assets/css/main.css" />
</head>
<body>
<div id="vueapp">
    <p>{{message}}</p>
    <quill-editor v-model="content"
                  ref="quillEditorA"
                  :options="editorOption"
                  @blur="onEditorBlur($event)"
                  @focus="onEditorFocus($event)"
                  @ready="onEditorReady($event)">
    </quill-editor>
    <div class="content ql-editor" v-html="content"></div>
    <br>
<!--    <local-quill-editor v-model="content2"-->
<!--                        ref="quillEditorB"-->
<!--                        :options="editorOption"-->
<!--                        @blur="onEditorBlur($event)"-->
<!--                        @focus="onEditorFocus($event)"-->
<!--                        @ready="onEditorReady($event)">-->
<!--    </local-quill-editor>-->
<!--    <div class="content ql-editor" v-html="content2"></div>-->
</div>
<script type="text/javascript">
    Vue.use(VueQuillEditor)
    new Vue({
        el: '#vueapp',
        data: {
            message: 'Hi from Vue.',
            content: '<h2>I am Example A</h2>',
            content2: '<h2>I am Example B</h2>',
            editorOption: {
                theme: 'snow'
            }
        },
        components: {
            LocalQuillEditor: VueQuillEditor.quillEditor
        },
        methods: {
            onEditorBlur(quill) {
                console.log('editor blur!', quill)
            },
            onEditorFocus(quill) {
                console.log('editor focus!', quill)
            },
            onEditorReady(quill) {
                console.log('editor ready!', quill)
            }
        },
        computed: {
            editorA() {
                return this.$refs.quillEditorA.quill
            },
            editorB() {
                return this.$refs.quillEditorB.quill
            }
        },
        mounted() {
            console.log('this is quill A instance object', this.editorA, 'B instance', this.editorB)
        }
    })</script>

</body>
</html>